{{#my-document}}
  <Template @slot="header">
    Ember-Slots
  </Template>

  <Template @slot="footer">
    <h5>~Exelord</h5>
  </Template>

  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Hic culpa pariatur sapiente vel necessitatibus aperiam eaque? Atque a dicta,
    cumque aut doloremque, maiores nobis at obcaecati, nulla nemo perferendis in!
  </p>
{{/my-document}}